<div class="jumbotron">
    <h1>Logger API v1</h1>
    <p class="lead">Welcome to Logger API v1 site</p>
    <p>
        @Html.ActionLink("Go to APIs", "Index", "Help", new { area = "HelpPage" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
